@font-face {
    font-family: 'pixel';
    src: url('assest/Arabic\ Pixel\ 2.ttf') format('truetype');
}


body{
    font-family: 'pixel';
    background-image: url(assest/indexBg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.start{
    height: 10em;
}