body{
    /* height: 100%; */
    background-image: url(assest/bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; 


}
.palm {
    background-image: url(./assest/palm.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: contain; 
    bottom: 0;  
    position: absolute;
}
.char {
    background-image: url(./assest/char.png);
    height: 20vh;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    border: 1px solid red;
    width: 20vw;
    
}

.date{
    width: 100px;
    height: 100px;
    background-image: url(assest/date.png);
    position: absolute;
    background-repeat: no-repeat;
    /* top: 10%; */
}
.plant{
    width: 100px;
    height: 100px;
    background-image: url(assest/plant.png);
    position: absolute;
    background-repeat: no-repeat;
    /* top: 10%; */
}
#main{
    width: 100vw;
    height: 90vh;
    border: 2px solid black;
}
#group{
    padding: 0 10%;
    width: 100vw;
}

