body{
    height: 100vh;
}
.palm {
    background-image: url(./assest/palm.png);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;   
}
.char {
    background-image: url(./assest/char.png);
    height: 10vh;
    background-repeat: no-repeat;
    background-size: contain;
    
}
div.palm{
    display: flex;
    justify-content: center ;
    align-items:center;
}
main{
    background-image: url(assest/bg.png);
    background-position: bottom;
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
}
#group{
    padding: 0 10%;
    width: 100vw;
}

